
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

.pbarMain {
    margin: 0 auto;
    padding: 10px;
    width: 420px;
    border: 1px solid #a3a2a5;
    box-shadow: 0px 3px 7px 1px #a3a2a5;
}

.header,
.footer {
    background-color: #333;
    height: 30px;
    margin-bottom: 10px;
}

.pbheader {
    text-align: center;
}

.pbarMain .header {
    text-align: center;
    font-size: 18px;
}

.controlsCont > div {
    display: inline-block;
    width: 45%;
    text-align: center;
}

.ot {
    border: 1px solid #eee;
    display: inline-block;
    width: 100%;
    margin: 2px;
    height: 22px;
    overflow: hidden;
    position: relative;
}

.pblbl {
    display: block;
    position: absolute;
    width: 100%;
    text-align: center;
    background-color: transparent !important;
    z-index: 0;
    background: transparent;
}

.in {
    display: inline-block;
    height: 20px;
    width: 0%;
    -webkit-transition-property: width;
    -moz-transition-property: width;
    transition-property: width;
    -webkit-transition-duration: 0.25s;
    -moz-transition-duration: 0.25s;
    transition-duration: 0.25s;
}

.err {
    width: 100%;
    height: 25px;
    text-align: center;
    color: red;
}